html, body {
    width: 100%;
    height: 100%;
}

header, footer {
    background-color: lightskyblue;
    width: 100%;
    text-align: center;
}

header {
    padding-top: 5px;
}

footer {
    margin-top: 10px;
    padding: 5px;
}

.center {
    width: 80%;
    margin: 0 auto;
}

.inner {
    display: block;
    max-width: 500px;
    min-height: 50px;
    margin: 0 auto;
    margin-top: 10px;
}

/* Rewrite the bootstrap classes so the navigation menu isn't positioned to the left. */
@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

.picture {
    width: 100px;
}

.align-picture {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.inputcaptcha{
    width: 150px;
    float: left;
    background: none repeat scroll 0 0 #F5F5F5;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(81, 203, 238, 0);
    color: #666666;
    font-family: TitilliumText22LBold,ArtifikaMedium,Arial,Helvetica,sans-serif;
    font-size: 13px;
    /*margin: 8px 0;*/
    padding: 8px;
    vertical-align: top;
}

.imgcaptcha{
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    float: right;
    margin-right: 3px;
}

.refresh{
    float: right;
    margin: 10px 5px;
    cursor: pointer;
}

.comment {
    padding: 5px;
    margin-top: 8px;
    border-radius: 2%;
    border: 1px solid darkgray;
}

.anchorButton {

}

textarea {
    resize: none;
}

.detailBox {
    max-width: 500px;
    border:1px solid #bbb;
    margin: 0 auto;
}
.titleBox {
    background-color:#fdfdfd;
    padding:10px;
}
.titleBox label{
    color:#444;
    margin:0;
    display:inline-block;
}

.commentBox {
    padding:10px;
    border-top:1px dotted #bbb;
}

.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
}

.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:18%;
}

.actionBox .form-group * {
    width:100%;
}

.taskDescription {
    margin-top: 10px 0;
}
.commentList {
    padding:0;
    list-style:none;
    max-height:200px;
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:30px;
    margin-right:5px;
    height:100%;
    float:left;
}
.commenterImage img {
    width:100%;
    border-radius:50%;
}
.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
.actionBox {
    border-top:1px dotted #bbb;
    padding:10px;
}